ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333
}

ul.b {
    list-style-position:outside;
    list-style-type: circle;
    }

li.menu1 {
    float: left;
    border-right: 1px solid #bbb;           
}

li.list {
    font: serif;
    font-size: 25px;
}

div.home {
    width: 100%;
    height: 100%;
    float: left;
    border: solid;
    border-width: medium;
}

div.info {
    width: 25%;
    height: 50%;
    float: left;
}

.info3{
    width: 75%;
    height: 35%;
    float: right;
}

.video {

position: absolute;
left: 50px;
bottom: 25px;

}

div.video iframe{
    width:75%;
    height:75%;
}


img.home {
    width: 25%;
    height: 33%;
}

img.info2 {
    width:66%;
}

h1{
    font-family: serif;
    font-size: 40px;
    background-color: #bbb;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s; 
    -webkit-animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

h2 {
    width: 15%;
    font-family: serif;
    font-size: 200%;
    text-align: left;
    float: left;
}

P {
    float: right;
    width:70%;
    text-align: left;
    font-size: 15px;
    font-family: serif;
}

p.info

body {
    background-image: url("images/backim.jpg")
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111
}

.active {
    background-color: #338894
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}



@-webkit-keyframes example {
    0%   {background-color:#bbb;}
    25%  {background-color:#555;}
    50%  {background-color:#d76;}
    75%  {background-color:#f54;}
    100% {background-color:#EEE;}
}


@keyframes example {
    0%   {background-color:#bbb;}
    25%  {background-color:#555;}
    50%  {background-color:#d76;}
    75%  {background-color:#f54;}
    100% {background-color:#EEE;}
}

@media screen and (min-width:0) and (max-width:900px) {

    div.home {
        width: 60%;
        height: 100%;
        float: center;
        position: relative;
        margin:0 auto;
    }

    h2 {
        font: 100%;
        float: center;
        position: relative;
        display: block;
    }

    img.home {
        margin: 0;
        width: 100%;
        float: center;
    }

    div.info {
        width: 25%;
        height: 50%;
        float: left;
        margin:0 auto;
    }
}
